@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.root {
  background-color: #ffffff;
}

.portfolio-tile {
  background-color: #f6f6f6;
}

#footer {
  background-color: #2D2D2D;
}
